<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'lg'"
    [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger"
  >
    <div class="logo"></div>
    <ul
      nz-menu
      [nzTheme]="'dark'"
      [nzMode]="'inline'"
      [nzInlineCollapsed]="false"
    >
      <li nz-menu-item>
        <a routerLink="/">
          <span
            ><i nz-icon type="home"></i><span class="nav-text">Home</span></span
          >
        </a>
      </li>
      <li nz-menu-item>
        <span
          ><i nz-icon type="coffee"></i><span class="nav-text">News</span></span
        >
      </li>
      <li nz-menu-item>
        <a routerLink="/admin/category">
          <span
            ><i nz-icon type="folder"></i
            ><span class="nav-text">Categories</span></span
          >
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/admin/product">
          <span
            ><i nz-icon type="wallet"></i
            ><span class="nav-text">Products</span></span
          >
        </a>
      </li>
      <li nz-menu-item>
        <span
          ><i nz-icon type="shopping-cart"></i
          ><span class="nav-text">Shopping Cart</span></span
        >
      </li>
      <li nz-menu-item>
        <a routerLink="/login">
          <span
            ><i nz-icon type="user"></i
            ><span class="nav-text">Login</span></span
          >
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;"> </nz-header>
    <nz-content style="margin:24px 16px 0;">
      <div style="padding:24px; background: #fff; min-height: 80vh;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;"
      >Enterprise Shop ©2019 Implement By Tu Huynh</nz-footer
    >
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" theme="outline"></i>
</ng-template>
