<h2>List Products</h2>
<button nz-button (click)="toggleAddModal()" nzType="primary">Add</button>
<nz-table #basicTable [nzData]="listProducts">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Thumbnail</th>
      <th>Category</th>
      <th>Supplier</th>
      <th>Valid</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of basicTable.data">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.thumbnail }}</td>
      <td>{{ product.category && product.category.name }}</td>
      <td>{{ product.supplier && product.supplier.name }}</td>
      <td>{{ product.valid === true ? "Valid" : "Invalid" }}</td>
      <td>
        <a (click)="toggleUpdateModal(product.id)">Update</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="handleDelete(product.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="addModalVisible"
  nzTitle="Add new"
  (nzOnCancel)="toggleAddModal()"
  (nzOnOk)="handleAdd()"
>
  <form
    nz-form
    [nzLayout]="addForm.get('formLayout')?.value"
    [formGroup]="addForm"
    (ngSubmit)="handleAdd()"
  >
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="name" placeholder="Enter name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Desc</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          formControlName="description"
          placeholder="Enter description"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Price</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="price" placeholder="Enter price" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Quantity</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          formControlName="quantity"
          placeholder="Enter quantity"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Thumb</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          formControlName="thumbnail"
          placeholder="Enter thumbnail"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Category</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <span formGroupName="category">
          <nz-select formControlName="id" nzPlaceHolder="Choose">
            <nz-option
              *ngFor="let category of listCategories"
              [nzValue]="category.id"
              [nzLabel]="category.name"
            ></nz-option>
          </nz-select>
        </span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Supplier</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <span formGroupName="supplier">
          <nz-select formControlName="id" nzPlaceHolder="Choose">
            <nz-option
              *ngFor="let supplier of listSuppliers"
              [nzValue]="supplier.id"
              [nzLabel]="supplier.name"
            ></nz-option>
          </nz-select>
        </span>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal
  [(nzVisible)]="updateModalVisible"
  nzTitle="Update"
  (nzOnCancel)="toggleUpdateModal()"
  (nzOnOk)="handleUpdate()"
>
  <form nz-form [formGroup]="updateForm" (ngSubmit)="handleUpdate()">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="name" placeholder="Enter name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Desc</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          formControlName="description"
          placeholder="Enter description"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Price</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="price" placeholder="Enter price" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Quantity</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          formControlName="quantity"
          placeholder="Enter quantity"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Thumb</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          formControlName="thumbnail"
          placeholder="Enter thumbnail"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Category</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <span formGroupName="category">
          <nz-select formControlName="id" nzPlaceHolder="Choose">
            <nz-option
              *ngFor="let category of listCategories"
              [nzValue]="category.id"
              [nzLabel]="category.name"
            ></nz-option>
          </nz-select>
        </span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Supplier</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <span formGroupName="supplier">
          <nz-select formControlName="id" nzPlaceHolder="Choose">
            <nz-option
              *ngFor="let supplier of listSuppliers"
              [nzValue]="supplier.id"
              [nzLabel]="supplier.name"
            ></nz-option>
          </nz-select>
        </span>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
