<h2>List Categories</h2>
<button nz-button (click)="toggleAddModal()" nzType="primary">Add</button>
<nz-table #basicTable [nzData]="listCategories">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Valid</th>
      <th>Modified</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of basicTable.data">
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>{{ category.valid === true ? "Valid" : "Invalid" }}</td>
      <td>{{ category.modified | date: "medium" }}</td>
      <td>
        <a (click)="toggleUpdateModal(category.id)">Update</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="handleDelete(category.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="addModalVisible"
  nzTitle="Add new"
  (nzOnCancel)="toggleAddModal()"
  (nzOnOk)="handleAdd()"
>
  <form
    nz-form
    [nzLayout]="addForm.get('formLayout')?.value"
    [formGroup]="addForm"
    (ngSubmit)="handleAdd()"
  >
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="name" placeholder="Enter name" />
        <nz-form-explain
          *ngIf="addForm.get('name')?.dirty && addForm.get('name')?.errors"
          >Please input name!</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal
  [(nzVisible)]="updateModalVisible"
  nzTitle="Update"
  (nzOnCancel)="toggleUpdateModal()"
  (nzOnOk)="handleUpdate()"
>
  <form nz-form [formGroup]="updateForm" (ngSubmit)="handleUpdate()">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="name" placeholder="Enter name" />
        <nz-form-explain
          *ngIf="
            updateForm.get('name')?.dirty && updateForm.get('name')?.errors
          "
          >Please input name!</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="4">
        <label nz-checkbox formControlName="valid">Valid</label>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
