<h2>List Supplier</h2>
<button nz-button (click)="toggleAddModal()" nzType="primary">Add</button>
<nz-table #basicTable [nzData]="listSuppliers">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Company</th>
      <th>Address</th>
      <th>City</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Valid</th>
      <th>Modified</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of basicTable.data">
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>{{ category.company }}</td>
      <td>{{ category.address }}</td>
      <td>{{ category.city }}</td>
      <td>{{ category.phone }}</td>
      <td>{{ category.fax }}</td>
      <td>{{ category.valid === true ? "Valid" : "Invalid" }}</td>
      <td>{{ category.modified | date: "medium" }}</td>
      <td>
        <a (click)="toggleUpdateModal(category.id)">Update</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="handleDelete(category.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="addModalVisible"
  nzTitle="Add new"
  (nzOnCancel)="toggleAddModal()"
  (nzOnOk)="handleAdd()"
>
  <form
    nz-form
    [nzLayout]="addForm.get('formLayout')?.value"
    [formGroup]="addForm"
    (ngSubmit)="handleAdd()"
  >
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="name" placeholder="Enter name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Company</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="company" placeholder="Enter company" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Address</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="address" placeholder="Enter address" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">City</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="city" placeholder="Enter city" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Phone</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="phone" placeholder="Enter phone" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Fax</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="fax" placeholder="Enter fax" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="updateModalVisible"
  nzTitle="Update"
  (nzOnCancel)="toggleUpdateModal()"
  (nzOnOk)="handleUpdate()"
>
  <form nz-form [formGroup]="updateForm" (ngSubmit)="handleUpdate()">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="name" placeholder="Enter name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Company</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="company" placeholder="Enter company" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Address</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="address" placeholder="Enter address" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">City</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="city" placeholder="Enter city" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Phone</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="phone" placeholder="Enter phone" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Fax</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="fax" placeholder="Enter fax" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="4">
        <label nz-checkbox formControlName="valid">Valid</label>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
