<h2>Featured Products</h2>
<div nz-row [nzGutter]="16">
  <div
    *ngFor="let photo of photos; i as index"
    nz-col
    [nzLg]="6"
    [nzMd]="8"
    [nzXs]="12"
  >
    <nz-card
      nzHoverable
      style="width:240px"
      [nzCover]="coverTemplate"
      style="margin-bottom: 1rem;"
    >
      <nz-card-meta
        [nzTitle]="photo.title"
        [nzDescription]="photo.url"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="{{ photo.thumbnailUrl }}" />
    </ng-template>
  </div>
</div>
